@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

/*
>>>>>>>>>>>>>>>>>>>>>>>>>>
    HEADER
>>>>>>>>>>>>>>>>>>>>>>>>>>
*/

header {
    width: 100vw;
    height: 70px;
    background-color: rgb(101, 101, 221);
}

nav {
    padding-top: 10px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-top: 10px;
}

li:not(:first-child) {
    margin-left: 25px;
}

.a-nav {
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.a-nav:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

/*
>>>>>>>>>>>>>>>>>>>>>>>>>>
    FIM HEADER
>>>>>>>>>>>>>>>>>>>>>>>>>>
*/

main {
    
    width: 900px;
    margin: 100px auto;
}

h3 {
    line-height: 30px;
}

footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
    color: white;
    background-color: rgb(101, 101, 221);
}

#footer {
    display: flex;
}

.b-footer {
    margin-left: 20px;
}